* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}
p{
    color: black;
}

body{
    overflow: hidden;
}
button{
    outline: none;
    background-color:none;
    color: black;
    font-size: 1.3em;
}


.outer-container {
    padding: 10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}
.top-bar p{
    float:right;
}
.inner-container{
    background-color: black;
    height: 100%;
    width: 50%;
    margin: 0% auto;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
}
.inner-container p{
    color: aquamarine;
}
h1,h3{
    color: white;
    text-align: center;
}
.quiz-intro{
    margin-bottom: 25vh;
}
.quiz-intro p{
    text-align: center;

}
.quiz-intro button{
    display: block;
    width: 50%;
    margin: 0% auto;
    

}